@import '_mixin';
@import '_fonts';

body {
    background-color: #000;
    font: {
        family: SourcSancePro, sans-serif;
        size: 16px;
        weight: 400;
    }
    color: #fff;
}

.btn {
    padding: 0 25px;
    height: 44px;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.header {
    height: 100vh;
    background: {
        image: url(../img/cover_image.jpg);
        repeat: no-repeat;
        position: top right;
        size: contain;
    }
    @media (max-width: 480px) {
        background-position: center bottom;
    }    
    .container {
        max-width: 1146px;
        height: 100%;
        position: relative;
        margin: 0 auto;
        padding: 0 15px;
        @media(max-width: 480px) {
            max-width: 333px;
        }
        .header-top {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 56px;
            @media(max-width: 480px) {
                padding-top: 41px;
            }
            .header-top__logo {
                font: {
                    family: Roboto, sans-serif;
                    size: 24px;
                    weight: 900;    
                }
                color: #fff;
            }
            .header-top__autor {
               display: flex;
               align-items: center;
               @media(max-width: 480px) {
                   span {
                       display: none;
                   }
               }
               img {
                   margin-left: 15px;
               }
            }
        }
        .header-content {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            max-width: 460px;
            @media (max-width: 480px) {
                top: 128px;
                transform: translateY(0);
            }
            .header-content__title {
                @media (max-width: 480px){
                    img {
                        width: 279px;
                    }
                }
            } 
            .header-content__sub-title {
                margin: 15px 0 9px; 
                @media(max-width: 480px) {
                    margin: 13px 0;
                }
                span {
                    color: #404040;
                    line-height: 140%;
                    margin-right: 2px;
                    &:last-child {
                        margin-right: 0;
                        font-size: 14px;
                        border: 1px solid #404040;

                    }
                }                  
            }
            .header-content__review {
                margin-bottom: 36px;
                @media(max-width: 480px) {
                    margin-bottom: 19px;
                }
                p {
                    font-size: 21px;
                    line-height: 140%;
                    @media(max-width: 480px) {
                        font-size: 16px;
                    }
                }
            }
            .header-content__btn {
                @media(max-width: 480px) {
                    display: flex;
                }
                .btn-preorder {
                    background-color: #EA6E20;
                    margin-right: 15px;
                }
                .btn-watch {
                    background: {
                        color:  #2F2F2F;
                        image: url(../img/btn_icon.png);
                        repeat: no-repeat;
                        position: 26px center;        
                    }
                    padding-left: 48px;
                    @media(max-width: 480px) {
                        width: 64px;
                        padding: 0;
                        background-position: center center;
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    .btn-close {
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 20px;
        background-color: #2F2F2F;
    }
    .video  {
        padding: 15px;
        max-width: 1280px;
        video  {
            width: 100%;
        }
    }
}
.modal-open {    
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}